// Variables

$website-width: 1280px;
$main-color: #25ff6d;
$secondary-color: #ff42ff;
$bg-img: url(../img/main-background.jpg);

// Set Text Color
@function set-text-color($color){
    @if(lightness($color)>50){
        @return #000;
    }
    @else {
        @return #fff;
    }
}