// Variables

$website-width: 1280px;
$main-color: #7DFFFF;
$secondary-color: #FF73F5;
// $bg-img:

// Set Text Color
@function set-text-color($color){
    @if(lightness($color)>50){
        @return #000;
    }
    @else {
        @return #fff;
    }
}