@import 'hamburger-menu.scss';

// Tablets & Smaller
@media(max-width:800px){
    .container{
        max-width: 650px;
    }

    #home {
        padding-top: 20rem;
        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.2;
        }

        p {
            width: 75%;
            margin-left: 12%;
        }
    }

    #work {
        .projects {
            grid-template-columns: repeat(2,1fr);
        }
    }

    #contact {
        .contact-sections {
            .contact-form {
                .bottom-heading {
                    font-size: 2.5rem;
                    padding-top: 2.5rem;
                }
            }
        }
    }
}

@media(max-height:780px) {
    #contact {
        .contact-sections{
            .contact-form{
                .bottom-heading{
                    font-size: 2rem;
                    padding-top: 2rem;
                }
            }
        }
        .contact-info {
            margin-top: 1rem;
        }
    }
}

@media(max-width:500px) {

    .menu-wrap {
        display: block;
    }
    .sidenav {
        position: static;
        display: none !important;
        z-index: -1;
        overflow:none;
    }

    .all-content-outer {
        width: 100vw;
        height: 100vh;
        position: static;
        transform: none;
        transform-origin: none;
        overflow-y: auto;
        overflow-x: auto;
    }

    .all-content-inner {
        display: block;
        transform: none;
        width: 100vw;
    }

    #home {
        .arrowright {
            display: none;
        }
        .arrowdown {
            display: block;
        }
    }

    #work {
        height: auto;
        .projects{
            display: block;
            .item{
                margin-bottom: 1rem;
            }

        }
    }

    #contact {
        height: auto;
        .contact-sections{
            .contact-form{
                .text-fields{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .contact-info {
            display: block;
            div {
                border-top: 1px dotted rgb(155, 202, 171);
            }
        }
    }
}

@media(max-height:450px){

    .sidenav {
        display: block;
        i {
            font-size: .7rem;
        }
    }
    #home {
        padding-top: 2rem;
    }

    #work {
        .projects {
            grid-template-columns: 50% 50%;
            grid-template-rows: 100% 0;
        }
    }

    #contact {
        .contact-sections{
            .contact-form{
                padding-top: .5rem;
                .text-fields {
                    padding-top: .5rem;
                    margin-bottom: .5rem;

                    .message-input{
                        height: 50px;
                    }

                }

                .bottom-heading{
                    padding-top: .5rem;
                    font-size: 1.5rem;
                }
            }
        }
        .contact-info{
            display:none;
            margin-top: 0;
        }
    }
}