// Container 
.container {
    max-width: $website-width;
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    margin: auto;
    overflow: hidden;
    // height: 100%;
}

// Text Align Center
.text-center {
    text-align: center;
}

// Padding Classes
.py {
    &-1 { padding: 1rem 0};
    &-2 { padding: 2rem 0};
    &-3 { padding: 3rem 0};
    &-4 { padding: 4rem 0};
}

// Margin Classes
.my {
    &-1 { margin: 1rem 0};
    &-2 { margin: 2rem 0};
    &-3 { margin: 3rem 0};
    &-4 { margin: 4rem 0};
}

// Header
h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

// Buttons
%btn-shared {
    display: inline-block;
    padding: .8rem 2rem;
    transition: all .5s;
    border: none;
    cursor: pointer;
}

.btn {
    &-main {
        @extend %btn-shared;
        background: black;
        color: $main-color;
        padding: .5rem 1rem;
        // border: 1px $main-color solid;
        &:hover {
            color: black;
            background: $main-color;
        }
    }

    &-regular {
        @extend %btn-shared;
        border: 1px solid #000;
        &:hover {
            border: 1px solid $main-color;
            color: $main-color;
            
        }
    }
}

// Bottom Line
.bottom-line {
    height: 2px;
    width: 3rem;
    background: black;
    display: block;
    margin: 0 auto 1rem auto;
}

// Javascript Fade In
.fadein {
    opacity: 0;
}

// Blinking Effect
.blink {
    animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
