@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Ubuntu&display=swap');
@import 'config';

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

// Side Navigation Bar
.sidenav {
    position: sticky;
    display: flex;
    flex-direction: column;
    background: #000;
    height: 100vh;
    width: 75px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: visible;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
    // Set Icon Color
    i {
        color: $main-color;
        border-radius: 5px;
        padding: .5rem;
        transition: all .5s;
        &:hover {
            color: black;
            font-size: 1.3rem;
            background: $main-color;
        }
    }

    // Applies Tooltip Animation to all navbar LI A
    li {
        margin: 1rem;
        position: relative;
        display: inline-block;
    }

    .tooltipinner {
        visibility: hidden;
        width: 200px;
        background: black;
        color: white;
        text-align: center;
        // border-right: 2px $main-color solid;
        border-right: 2px $secondary-color solid;
        padding: 0 1rem;

        // Position Tooltip
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 140%;

        // Text Edit
        text-transform: uppercase;
        font-size: 1.5rem;

        opacity: 0;
        transition: opacity .5s;
    }

    li:hover .tooltipinner {
        visibility: visible;
        opacity: 1;
        border-bottom: none;
    }
    // LI A Animation End


    // Sidebar Logo
    .logo {
        img {
            width: 60px;
            height: 60px;
            // border-radius: 50%;
        }
    }

    // Nav Items
    .nav-items {
    
    } 

    // Social Media Links
    .social-media {
        margin-bottom: 2.5rem;
        color: #fff;
        ul li {
            margin: .5rem 1rem;
        }
    }
}


// Core Page Content

.section {
    width: 100vw;
    height: 100vh;
}

.all-content-outer {
    // Using Viewport HEIGHT as the width and Viewport WIDTH as the height
    width: 100vh;
    height: 100vw;
    // Rotate the outer wrapper to flip content
    // If we don't translate we won't see any content
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;

    position: absolute;

    // Scroll bar appears on top of page horizontally
    // Firefox scroll bar disable
    scrollbar-width: none;
    
    // This ms-overflow is obsolete and no longer supported... not sure what the replacement is 
    // For IE
    -ms-overflow-style:none;
}

// Chrome & Safari
::-webkit-scrollbar {
    display: none;
}

.all-content-inner {
    display: flex;
    flex-direction: row;
    width: 400vw;

    // Using same transform as outter wrapper to undo inner wrapper rotate
    // If we don't translate we won't see any content
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}


// Color Test For Sections
#home {
    background: $bg-img no-repeat center center/cover;
}

#work {
    background: cornflowerblue;
}

#contact {
    background: crimson;
}

#fluff {
    background: darkgoldenrod;
}