@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Ubuntu&display=swap');
@import 'config';
@import 'utilities';

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

// Side Navigation Bar
.sidenav {
    position: sticky;
    display: flex;
    flex-direction: column;
    background: #000;
    height: 100vh;
    width: 75px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: visible;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
    // Set Icon Color
    i {
        color: $main-color;
        border-radius: 5px;
        padding: .5rem;
        transition: all .5s;
        &:hover {
            color: black;
            font-size: 1.3rem;
            background: $main-color;
        }
    }

    // Applies Tooltip Animation to all navbar LI A
    li {
        margin: 1rem;
        position: relative;
        display: inline-block;
    }

    .tooltipinner {
        visibility: hidden;
        width: 200px;
        background: black;
        color: white;
        text-align: center;
        // border-right: 2px $main-color solid;
        border-right: 2px $secondary-color solid;
        padding: 0 1rem;

        // Position Tooltip
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 130%;

        // Text Edit
        text-transform: uppercase;
        font-size: 1.5rem;

        opacity: 0;
        transition: opacity .5s;
    }

    li:hover .tooltipinner {
        visibility: visible;
        opacity: 1;
        border-bottom: none;
    }
    // LI A Animation End


    // Sidebar Logo
    .logo {
        img {
            width: 60px;
            height: 60px;
            // border-radius: 50%;
        }
    }

    // Social Media Links
    .social-media {
        margin-bottom: 2.5rem;
        color: #fff;
        ul li {
            margin: .5rem 1rem;
        }
    }
}


// Core Page Content
section {
    width: 100vw;
    height: 100vh;
}

.all-content-outer {
    // Using Viewport HEIGHT as the width and Viewport WIDTH as the height
    width: 100vh;
    height: 100vw;
    // Rotate the outer wrapper to flip content
    // If we don't translate we won't see any content
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;

    position: absolute;

    // Scroll bar appears on top of page horizontally
    // Firefox scroll bar disable
    scrollbar-width: none;
    
    // This ms-overflow is obsolete and no longer supported... not sure what the replacement is 
    // For IE
    -ms-overflow-style:none;
}

// Chrome & Safari
::-webkit-scrollbar {
    display: none;
}

.all-content-inner {
    display: flex;
    flex-direction: row;
    width: 400vw;

    // Using same transform as outter wrapper to undo inner wrapper rotate
    // If we don't translate we won't see any content
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}


// Color Test For Sections
#home {
    position: relative;
    justify-content: center;
    text-align: center;
    display: inline-block;
    // Overlay for background image
    background: rgba($color: #000000, $alpha: .5);
    color: white;

    // On smaller pages the nav bar blocks content
    // margin-left: 75px;
    // padding: 0 75px;
    
    padding-top: 15rem;

    // Name Title
    h1 {
        // text-transform: uppercase;
        font-size: 4rem;
    
        padding: 0 2rem;
    }

    // Tag Above Name
    h2 {
        padding: 0 1.5rem;
        text-align: center;
        margin-left: -40%;
    }

    p {
        font-size: 1.5rem;
        width: 50%;
        margin-left: 25%;
        text-decoration: wavy;
    }

    .bottom-line {
        margin-top: 1rem;
        margin-bottom: 3rem;
        width: 5rem;
    }

    
}

// Using Home BEFORE to put the image behind the home which has a transparent background as an overlay
#home::before {
    content: '';
    background: $bg-img no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#work {
    background: #b9c5ba;

    h1 {
        text-transform: uppercase;
        font-size: 2rem;
    }

    h3 {
        margin-bottom: 1rem;
    }

    .projects {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);

        // Item is each grid block
        .item {
            // Need relative position to anchor the overlay
            position: relative;
            // Hide overflow or overlay covers entire website
            overflow: hidden;
            background: $main-color;

            // Can move box shadow back to projects grid if we remove the gap
            box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: .3);

            // Creating the overlay and setting off screen before hover
            &::after{
                content: '';
                position: absolute;
                display: block;
                background: black;
                opacity: .8;
                // background: rgba(0,0,0,.5);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                // Angle overlay and determine transition properties
                transform: scale(2) translateX(-75%) translateY(-75%) rotate(-35deg);
                transition: transform 1.5s cubic-bezier(.2, 1, .3, 1);
            }

            // Bring in overlay on hover
            &:hover::after{
                transform: scale(2) translateX(0) translateY(0) rotate(-35deg);
            }

            // Scale image on hover
            &:hover .item-image {
                transform: scale(1.2);
                filter: blur(8px);
            }

            // Image container
            &-image {

                // Maybe this can be used to create image switching on hover
                // background-image: url(../img/projects/1.png);
                // background-position: center;
                // background-repeat: no-repeat;
                // background-size: cover;

                height: auto;
                // This translate and transform makes smooth scaling on hover
                transform: translateZ(0);
                transition: transform 750ms cubic-bezier(.2, 1, .3, 1);
                display: block;
            }

            // honestly not sure what this does but without it the grid doesn't appear
            &-image:before {
                content: '';
                display: block;
                padding-top: 75%;
                overflow: hidden;
            }
        
            // setting the image positioning and making it fit
            &-image img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto ;
                line-height: 0;
                object-fit: cover;
            }

            .item-content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                color: whitesmoke;
                text-align: center;
                z-index: 1;
                transform: scale(0);
                transition: opacity 500ms cubic-bezier(.2, 1, .3, 1), transform 500ms cubic-bezier(.2, 1, .3, 1);
            }

            &:hover .item-content {
                opacity: 1;
                transform: scale(1);
            }

            .item-wrap {
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
            }

            .title {
                font-size: 1.5rem;
                text-transform: uppercase;
                padding: 0 1rem;
                margin: 5px 0 0 0;
                opacity: .8;
            }

            .bottom-line {
                background: $main-color;
            }

            .desc {
                padding: 0 .5rem 1rem .5rem;
            }

            .links{
                // Probably a better way to do this, link colors not changing in buttons
                .btn-main {
                    a {
                        color: $main-color;
                    }

                    &:hover {
                        a {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

#contact {
    background: crimson;
}

#fluff {
    background: darkgoldenrod;
}